doctype html
html
  head
    include head.pug
  body
    .header
      .container()
        .profile__header
          .profile__dongle
          h2.profile__heading #{user.display_name}
          button(class='btn btn-dark logout' onclick="window.location='./logout'") Log Out
    section
      .container
        h3 Members
        .members
    script(src="/profile.js")