doctype html
html
  head
    include head.pug
  body
    section.profile
      .profile__header
        .shadow__wrapper
          .profile__dongle
            img(src=user.image_url).profile__image
        h2.profile__heading #{user.display_name}
        button(class='btn btn-dark logout' onclick="window.location='./logout'") Log Out
      .main
        .main__heading
          h4 Other Members
        .members
        
    script(src="/profile.js")