
doctype html
html
  head
    include head.pug
  body
    
    div(class="mx-auto" style="width:200px; margin-top:200px")
      h2 Register New User
      if hasError
        .err
          p.err__message=errorMessage
      form(action="../users" method="post")
        input(class="form-check-input" name="isAdmin" value="true" type="checkbox" id="admin-toggle" style="margin-left:2px")
        label(class='form-check-label' for="admin-toggle" style="margin-left:24px") Admin
        br
        label(for="name__field") Display Name: 
        input(id="name__field" name="name" type="text" required)
        label(for="email__field") Email: 
        input(id="email__field" name="email" type="email" required)
        label(for="password") Password: 
        input(name="password" type="password" required)
        label(for="email__field") Profile Image URL: 
        input(id="email__field" name="image_url" required)
        .admin-check(style="margin-left:20px;margin-top:10px" )

        input(type="submit" class="btn btn-dark" style="margin-top:10px; float:right;" value="Submit")